Repository arsonistAnt/bjj-app, pull requests merged in 2022-05, with the labels that each got.

#2 Initial android studios project
  android/.gitignore
  android/.idea/.gitignore
  android/.idea/.name
  android/.idea/compiler.xml
  android/.idea/gradle.xml
  android/.idea/jarRepositories.xml
  android/.idea/misc.xml
  android/.idea/runConfigurations.xml
  android/.idea/vcs.xml
  android/app/.gitignore
  android/app/build.gradle
  android/app/proguard-rules.pro
  android/app/src/androidTest/java/com/example/bjj_app/ExampleInstrumentedTest.kt
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/res/drawable-v24/ic_launcher_foreground.xml
  android/app/src/main/res/drawable/ic_launcher_background.xml
  android/app/src/main/res/mipmap-anydpi-v26/ic_launcher.xml
  android/app/src/main/res/mipmap-anydpi-v26/ic_launcher_round.xml
  android/app/src/main/res/mipmap-hdpi/ic_launcher.png
  android/app/src/main/res/mipmap-hdpi/ic_launcher_round.png
  android/app/src/main/res/mipmap-mdpi/ic_launcher.png
  android/app/src/main/res/mipmap-mdpi/ic_launcher_round.png
  android/app/src/main/res/mipmap-xhdpi/ic_launcher.png
  android/app/src/main/res/mipmap-xhdpi/ic_launcher_round.png
  android/app/src/main/res/mipmap-xxhdpi/ic_launcher.png
  android/app/src/main/res/mipmap-xxhdpi/ic_launcher_round.png
  android/app/src/main/res/mipmap-xxxhdpi/ic_launcher.png
  android/app/src/main/res/mipmap-xxxhdpi/ic_launcher_round.png
  android/app/src/main/res/values-night/themes.xml
  android/app/src/main/res/values/colors.xml
  android/app/src/main/res/values/strings.xml
  android/app/src/main/res/values/themes.xml
  android/app/src/test/java/com/example/bjj_app/ExampleUnitTest.kt
  android/build.gradle
  android/gradle.properties
  android/gradle/wrapper/gradle-wrapper.jar
  android/gradle/wrapper/gradle-wrapper.properties
  android/gradlew
  android/gradlew.bat
  android/settings.gradle
Labels: mobile

#3 Add project modules
  android/.idea/gradle.xml
  android/data/.gitignore
  android/data/build.gradle
  android/data/proguard-rules.pro
  android/data/src/androidTest/java/com/example/data/ExampleInstrumentedTest.kt
  android/data/src/main/AndroidManifest.xml
  android/data/src/main/res/drawable-v24/ic_launcher_foreground.xml
  android/data/src/main/res/drawable/ic_launcher_background.xml
  android/data/src/main/res/mipmap-anydpi-v26/ic_launcher.xml
  android/data/src/main/res/mipmap-anydpi-v26/ic_launcher_round.xml
  android/data/src/main/res/mipmap-hdpi/ic_launcher.png
  android/data/src/main/res/mipmap-hdpi/ic_launcher_round.png
  android/data/src/main/res/mipmap-mdpi/ic_launcher.png
  android/data/src/main/res/mipmap-mdpi/ic_launcher_round.png
  android/data/src/main/res/mipmap-xhdpi/ic_launcher.png
  android/data/src/main/res/mipmap-xhdpi/ic_launcher_round.png
  android/data/src/main/res/mipmap-xxhdpi/ic_launcher.png
  android/data/src/main/res/mipmap-xxhdpi/ic_launcher_round.png
  android/data/src/main/res/mipmap-xxxhdpi/ic_launcher.png
  android/data/src/main/res/mipmap-xxxhdpi/ic_launcher_round.png
  android/data/src/main/res/values-night/themes.xml
  android/data/src/main/res/values/colors.xml
  android/data/src/main/res/values/strings.xml
  android/data/src/main/res/values/themes.xml
  android/data/src/test/java/com/example/data/ExampleUnitTest.kt
  android/domain/.gitignore
  android/domain/build.gradle
  android/domain/proguard-rules.pro
  android/domain/src/androidTest/java/com/example/domain/ExampleInstrumentedTest.kt
  android/domain/src/main/AndroidManifest.xml
  android/domain/src/main/res/drawable-v24/ic_launcher_foreground.xml
  android/domain/src/main/res/drawable/ic_launcher_background.xml
  android/domain/src/main/res/mipmap-anydpi-v26/ic_launcher.xml
  android/domain/src/main/res/mipmap-anydpi-v26/ic_launcher_round.xml
  android/domain/src/main/res/mipmap-hdpi/ic_launcher.png
  android/domain/src/main/res/mipmap-hdpi/ic_launcher_round.png
  android/domain/src/main/res/mipmap-mdpi/ic_launcher.png
  android/domain/src/main/res/mipmap-mdpi/ic_launcher_round.png
  android/domain/src/main/res/mipmap-xhdpi/ic_launcher.png
  android/domain/src/main/res/mipmap-xhdpi/ic_launcher_round.png
  android/domain/src/main/res/mipmap-xxhdpi/ic_launcher.png
  android/domain/src/main/res/mipmap-xxhdpi/ic_launcher_round.png
  android/domain/src/main/res/mipmap-xxxhdpi/ic_launcher.png
  android/domain/src/main/res/mipmap-xxxhdpi/ic_launcher_round.png
  android/domain/src/main/res/values-night/themes.xml
  android/domain/src/main/res/values/colors.xml
  android/domain/src/main/res/values/strings.xml
  android/domain/src/main/res/values/themes.xml
  android/domain/src/test/java/com/example/domain/ExampleUnitTest.kt
  android/settings.gradle
Labels: mobile, blocked

#4 Initial React files
  frontend/.gitignore
  frontend/README.md
  frontend/index.html
  frontend/package-lock.json
  frontend/package.json
  frontend/public/favicon.ico
  frontend/public/index.html
  frontend/public/logo192.png
  frontend/public/logo512.png
  frontend/public/manifest.json
  frontend/public/robots.txt
  frontend/script.js
  frontend/src/App.css
  frontend/src/App.js
  frontend/src/App.test.js
  frontend/src/index.css
  frontend/src/index.js
  frontend/src/logo.svg
  frontend/src/reportWebVitals.js
  frontend/src/setupTests.js
  frontend/style.css
Labels: front-end

#5 Initial files from creating webapi project
  backend/BjjAppApi/BjjAppApi.csproj
  backend/BjjAppApi/Controllers/WeatherForecastController.cs
  backend/BjjAppApi/Program.cs
  backend/BjjAppApi/Properties/launchSettings.json
  backend/BjjAppApi/WeatherForecast.cs
  backend/BjjAppApi/appsettings.Development.json
  backend/BjjAppApi/appsettings.json
  backend/BjjAppApi/obj/BjjAppApi.csproj.nuget.dgspec.json
  backend/BjjAppApi/obj/BjjAppApi.csproj.nuget.g.props
  backend/BjjAppApi/obj/BjjAppApi.csproj.nuget.g.targets
  backend/BjjAppApi/obj/project.assets.json
  backend/BjjAppApi/obj/project.nuget.cache
Labels: backend

#7 Add MongoDB nuget package
  backend/BjjAppApi/.gitignore
  backend/BjjAppApi/BjjAppApi.csproj
  backend/BjjAppApi/obj/BjjAppApi.csproj.nuget.dgspec.json
  backend/BjjAppApi/obj/BjjAppApi.csproj.nuget.g.props
  backend/BjjAppApi/obj/BjjAppApi.csproj.nuget.g.targets
  backend/BjjAppApi/obj/project.assets.json
  backend/BjjAppApi/obj/project.nuget.cache
Labels: backend

#6 Update .gitignore file
  backend/BjjAppApi/obj/BjjAppApi.csproj.nuget.dgspec.json
  backend/BjjAppApi/obj/BjjAppApi.csproj.nuget.g.props
  backend/BjjAppApi/obj/BjjAppApi.csproj.nuget.g.targets
  backend/BjjAppApi/obj/project.assets.json
  backend/BjjAppApi/obj/project.nuget.cache
Labels: backend

#15 front-end/delete_front-end_readMe
  frontend/README.md
Labels: front-end

#17 front-end/delete template files
  frontend/public/index.html
  frontend/src/App.css
  frontend/src/App.js
  frontend/src/App.test.js
  frontend/src/index.css
  frontend/src/index.js
  frontend/src/logo.svg
  frontend/src/reportWebVitals.js
  frontend/src/setupTests.js
Labels: front-end, blocked

#18 front-end/add_navbar_file
  frontend/src/App.js
  frontend/src/components/Home.jsx
  frontend/src/components/Nav/Nav.jsx
  frontend/src/components/Nav/NavSearchBar.jsx
Labels: front-end

#14 Backend/add_services
  backend/BjjAppApi/Program.cs
  backend/BjjAppApi/Services/DemosService.cs
  backend/BjjAppApi/Services/MovesService.cs
  backend/BjjAppApi/Services/NamesServices.cs
Labels: backend, blocked

#21 Backend/add_configuration_model
  backend/BjjAppApi/appsettings.json
Labels: backend

#22 Backend/add_move_controller
  backend/BjjAppApi/Controllers/MovesController.cs
Labels: backend

#23 backend/remove_auto_generated_files
  backend/BjjAppApi/Controllers/WeatherForecastController.cs
  backend/BjjAppApi/WeatherForecast.cs
Labels: backend

#25 mobile/add_project_modules
  android/.idea/gradle.xml
  android/build.gradle
  android/data/build.gradle
  android/data/consumer-rules.pro
  android/data/src/androidTest/java/com/example/data/ExampleInstrumentedTest.kt
  android/data/src/main/AndroidManifest.xml
  android/domain/build.gradle
  android/domain/consumer-rules.pro
  android/domain/src/main/AndroidManifest.xml
  android/settings.gradle
Labels: mobile, blocked

#27 front-end/add_nav_searchbar
  frontend/src/components/Nav/NavSearchBar.jsx
Labels: front-end

#28 front-end/add_tailwind_package
  frontend/package-lock.json
  frontend/package.json
  frontend/postcss.config.js
  frontend/src/index.css
  frontend/tailwind.config.js
Labels: front-end

#26 mobile/create_badge_component
  android/.idea/gradle.xml
  android/app/src/main/java/com/example/bjj_android/components/Badge.kt
  android/app/src/main/res/values/dimens.xml
  android/build.gradle
Labels: mobile

#31 front-end/create-page-layout
  frontend/src/components/Home.jsx
  frontend/src/components/Nav/Nav.jsx
  frontend/src/components/Nav/NavSearchBar.jsx
Labels: front-end

#29 mobile/add_application_class
  android/.gitignore
  android/.idea/.name
  android/.idea/compiler.xml
  android/.idea/gradle.xml
  android/.idea/misc.xml
  android/.idea/vcs.xml
  android/app/.gitignore
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/com/example/bjj_android/BjjApplication.kt
  android/app/src/main/java/com/example/bjj_android/components/Badge.kt
Labels: mobile

#30 mobile/add_dependency_injection_framework
  android/app/build.gradle
Labels: mobile

#35 Backend/inject-collection
  backend/BjjAppApi/Program.cs
  backend/BjjAppApi/Services/DemosService.cs
  backend/BjjAppApi/Services/MovesService.cs
  backend/BjjAppApi/Services/NamesServices.cs
Labels: backend

#36 Backend/inject-collection
  backend/BjjAppApi/Program.cs
Labels: backend

#37 Backend/implement-repository
  backend/BjjAppApi/Controllers/MovesController.cs
  backend/BjjAppApi/Interfaces/IDemosRepository.cs
  backend/BjjAppApi/Interfaces/IMovesRepository.cs
  backend/BjjAppApi/Interfaces/INamesRepository.cs
  backend/BjjAppApi/Program.cs
  backend/BjjAppApi/Repositories/DemosMongoRepository.cs
  backend/BjjAppApi/Repositories/MovesMongoRepository.cs
  backend/BjjAppApi/Repositories/NamesMongoRepository.cs
Labels: backend, blocked

#33 mobile/add_main_pages
  android/.idea/gradle.xml~origin
  android/.idea/inspectionProfiles/Project_Default.xml
  android/app/build.gradle
  android/app/src/main/java/com/example/bjj_android/AppNavigationActivity.kt
  android/app/src/main/java/com/example/bjj_android/DetailsFragment.kt
  android/app/src/main/java/com/example/bjj_android/HomeFragment.kt
Labels: mobile
